

/*General styling for all pages:*/

/*background*/
body {
    background: Ivory
}


/*nav bar*/
nav {
    background-color: Bisque;
    font-family: "Courier New", monospace;
    width: 1150px;
    margin: 0 auto;

    /*    nav bar border*/
    border-radius: 5px;
    border-color: #bd8f79;
    border-style: solid;
    border-width: 3.5px;


    /*    space below bar*/
    margin-bottom: 20px;

}


/*default text , centered*/
p {
    text-align: center;
    line-height: 1em;
    font-family: "Courier New", monospace;
    color: #5e3532;
    font-size: 19px;

}



/*page headings*/
h1 {
    color: #ffa1d5;
    font-family: "Courier New";
    text-align: center;
    font-size: 40px;
    text-shadow: 2px 2px 4px #63463c;
}
/*secondary headings*/
h2 {
    font-family: "Courier New", monospace;
}


/*bullet lists, align bullets if possible*/
ul {
    font-family: "Courier New", monospace;
    display: flex;
    flex-direction: column;
    font-size: 19px;
    text-align: left;
  display: inline-block;
    line-height: 1.5em;
/*    indent BPs*/
      padding-left: 100px;


}

/*numbered lists*/
ol {
    font-family: "Courier New", monospace;
    display: flex;
    flex-direction: column;
    font-size: 19px;
    text-align: left;
  display: inline-block;
    line-height: 1.8em;
/*    indent BPs*/
      padding-left: 100px;


}




/*rounded, pink borders that centers text*/
section.roundBorders {
    background-color: pink;
    line-height: 1.5em;
    padding-left: 10em;
    padding-right: 10em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;

    text-align: center;

    /*    border*/
    border-radius: 20px;
    border-color: Bisque;
    border-style: solid;
    border-width: 4px;

    /*    adds box shadow*/
    box-shadow: 5px 5px 3px 5px #59483c;

    /*  centers and reduces section width */
    width: 55%;
    margin: 0 auto;

    /*    space between sections*/
    margin-bottom: 20px;
}

/*rounded, pink borders, text aligned left*/
section.pinkBorders {
    background-color: pink;
    line-height: 1.5em;
    padding-left: 10em;
    padding-right: 10em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;

    text-align: left;

    /*    border*/
    border-radius: 20px;
    border-color: Bisque;
    border-style: solid;
    border-width: 4px;

    /*    adds box shadow*/
    box-shadow: 5px 5px 3px 5px #59483c;

    /*  centers and reduces section width */
    width: 55%;
    margin: 0 auto;

    /*    space between sections*/
    margin-bottom: 20px;
}


/*rounded, blue borders with shadows*/
.blueBorders {
    background-color: #85dcff;
    line-height: 1.5em;
    padding-left: 10em;
    padding-right: 10em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;

    text-align: center;

    /*    border*/
    border-radius: 20px;
    border-color: Bisque;
    border-style: solid;
    border-width: 4px;

    /*    adds box shadow*/
    box-shadow: 5px 5px 3px 5px #59483c;

    /*  centers and reduces section width */
    width: 35%;
    margin: 0 auto;

    /*    space between sections*/
    margin-bottom: 20px;
    margin-top: 40px;
}


/*used for corpus analysis*/
/*wide, rounded, blue borders with shadows*/
.wideBlueBorders {
    background-color: #85dcff;
    line-height: 1.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;

    text-align: center;

    /*    border*/
    border-radius: 20px;
    border-color: Bisque;
    border-style: solid;
    border-width: 4px;

    /*    adds box shadow*/
    box-shadow: 5px 5px 3px 5px #59483c;

    /*  centers and reduces section width */
    width: 95%;
    margin: 0 auto;

    /*    space between sections*/
    margin-bottom: 20px;
    margin-top: 40px;
}

/*wide, rounded, blue borders with shadows*/
.widePinkBorders {
    background-color: pink;
    line-height: 1.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;

    text-align: center;

    /*    border*/
    border-radius: 20px;
    border-color: Bisque;
    border-style: solid;
    border-width: 4px;

    /*    adds box shadow*/
    box-shadow: 5px 5px 3px 5px #59483c;

    /*  centers and reduces section width */
    width: 95%;
    margin: 0 auto;

    /*    space between sections*/
    margin-bottom: 20px;
    margin-top: 40px;
}




/*FADE INS with subsequent delays*/
/*fade in 1*/
#fadeIn {
    animation: fadeIn 1.5s;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
/*fade in 2*/
#fadeIn2 {
    animation: fadeIn 2s;
}
@keyframes fadeIn2 {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
/*fade in 3*/
#fadeIn3 {
    animation: fadeIn 2.5s;
}
@keyframes fadeIn3 {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
/*fade in 4*/
#fadeIn4 {
    animation: fadeIn 3s;
}
@keyframes fadeIn4 {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/*ABOUT ME page styling*/
/*polaroid image effect for portrait - about me page*/
figure.polaroid {
    width: 300px;
    padding: 10px 10px 20px 10px;
    border: 1px solid #BFBFBF;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;

    /*tilt*/
    transform: rotate(7deg);

    /*    center and space down*/
    margin: 0 auto;
    margin-top: 50px;
}


/*for home and about me pages*/
#introBlurb {
    font-weight: bold;
    font-size: 20px;
}


/*INDEX/HOME page styling*/

.gallery {
    width: 50%;
    display: flex;
    margin: 0 auto;

}

.imageFormat {
    width: 100%;

}

/*reformat photoshop images later*/
.imageFormatPS {

}

.galleryFlex {
    display: flex;
    flex-direction: row;
    

}

/*fig caption styling*/
figcaption {
    font-size: 20px;
    text-align: center;
    line-height: 2em;
    font-family: "Courier New";
    font-weight: bold;
    color: #5e3532;

}

/*home text styling*/
.galleryCaption {
    font-size: 20px;
    text-align: center;
    font-family: "Courier New";
    font-weight: bold;
    color: #5e3532;
}

/*project descriptions*/
.projectBlurb {
    text-align: center;
    line-height: 1em;
    font-family: "Courier New", monospace;
    color: #5e3532;
    font-size: 21px;
    font-weight: bold;
}

/*RESUME PAGE syling*/
/*sets size, color, and underlines text of headings*/
h2.heading {
    text-align: center;
    font-size: 25px;
    text-decoration: underline;
    color: #944625;
}

/*bold inline text*/
p.boldInline {
    display: inline;
    font-weight: bold;
    color: #8a150c;
    font-size: 18px; 

}

/*bold text*/
.bold {
    font-weight: bold;
    color: #8a150c;
    font-size: 18px; 

}

/*bold, left aligned text*/
p.boldLeft {
 float:left;
    font-weight: bold;
    color: #8a150c;
    font-size: 18px; 

}

/*to have text left and right aligned on the same line
*/p.left {
 float:left;


}

p.right {
 float:right;
 
}

/*formats job titles*/
p.jobTitle {
    font-weight: bold;
    font-size: 18px;
        text-decoration: underline;

}

/*ESSAY PAGE styling*/
.paragraph {
    text-align: center;
    line-height: 1em;
    font-family: "Courier New", monospace;
    color: #5e3532;
    font-size: 19px;
    font-weight: bold;
    
   
}.paragraphInline {
    display: inline;
    text-align: center;
    line-height: 1em;
    font-family: "Courier New", monospace;
    color: #5e3532;
    font-size: 19px;
    font-weight: bold;
    
   
}