body {

    background: LightBlue
}

h1 {
    color: MediumVioletRed;
    font-family: Verdana;
}

h2 {
    font-size: 25px;
    color: Violet;
    font-family: Georgia;
}

h2.heading {
    font-size: 20px;
    color: black;
    text-decoration: underline;

}

p {
    padding-left: 20px;
    line-height: 1em;
}

p.bold {
    font-weight: bold;
    display: inline;
}

p.inline {
    display: inline;
}

p.right {
    display: inline;

}

p.jobTitle {
    font-weight: bold;
    font-style: italic;

}


img {
    width: 50%;
}

figure {
    font-size: 20px;
    color: Violet;
    font-family: Helvetica;
}

figcaption {
    font-size: 15px;
    color: green;
    font-family: TrebuchetMS;

}

nav {
    background-color: Bisque;
}